/* https://www.figma.com/file/NcnWpdr72NbgQLjuI7w09z/Windows-98-Design-System-(Community)?node-id=0-1&t=HXamxDP7IUZqNqQF-0 */

:root {
  --background-filter: #e7470244;
  --easing-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
}

html {
  font-family: "W95FA", sans-serif;
  background-color: #008083;
  cursor: url(windows/cursors/cursor.png), auto;
}

body {
  margin: 0;
  padding: 0;
}

#logo {
  height: auto;
  width: clamp(25px, 20vw, 125px);
  border: 1px black solid;
  margin-left: 1em;
  float: left;
}
/* SPECIFIC WINDOWS ####################################################################################################### */


/* WINDOW PRESET ####################################################################################################### */

win-main{
  border: 4px solid;
  border-color: #dbdbdb #000 #000 #dbdbdb;
  background-color: #bfbfbf;
  display: inline-block;
  position: absolute;
  min-width: 292px;
  min-height: 192px;
  z-index: 10;
  display: none;
}

win-main p, win-main h1{
  margin: 0;
}

win-main::before{
  content: "";
  border: 2px solid;
  border-color: #fff #808080 #808080 #fff;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;  
}

win-nav{
  margin: 2px;
  background-image: linear-gradient(to left, #1085D2, #00007B);
  display: block;
  height: 36px;
  position: relative;
}

win-nav div{
  position: absolute;
  right: 4px;
  top: 4px;
}

win-nav img{
  height: 28px;
  image-rendering: pixelated;
}


/* DESKTOP ICONS ####################################################################################################### */

main{
  display: flex;
  flex-direction: column;
}

desktop-icon{
  width: fit-content;
  padding: 15px;
  display: inline-block;
  text-align: center;
}

desktop-icon p{
  margin: 0;
  padding: 0;
  color: #fff;
}

desktop-icon > img{
  height: 64px;
  width: 64px;
  image-rendering: pixelated;
}

@media only screen and (max-width: 800px) {

}